.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100, auto);
  height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
}
.App-header {
  display: flex;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  grid-column: 1/3;
  width: 100%;
}
.max-width-100 {
  max-width: 208px;
}
.App-main {
  grid-column: 3/13;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
}
.App-toggle-display2{
  display: none;
}
@media screen and (max-width: 620px) {
  .App-main {
    grid-column: 1/13;
  }
  .App-header {
    display: none;
  }
  .App-toggle-display{
    display: none;
  }
  .App-toggle-display2{
    display: flex;
  }
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */
