.SI-layout {
  margin: 0 auto;
  max-width: 1250px;
}
.SI-img-container {
  /* position: relative; */
  width: 100%;
  /* max-width: 40%; */
  /* max-height: 20rem; */
  overflow: hidden;
}
.SI-img {
  /* position: absolute; */
  top: 0;
  /* border-radius: 5%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

